* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #202124;
}

h1,
h2,
h3,
input,
button {
  font-family: 'Press Start 2P', system-ui;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
  gap: 20px;
}

header {
  display: flex;
  align-items: stretch;
}

header,
.main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  gap: 14px;
}

header input {
  flex: 1;
  border-radius: 14px;
  outline: none;
  width: 100%;
  border: 1px solid #ccc;
  padding: 14px 18px;
  background: white;
  transition: border-color 0.3s, box-shadow 0.3s;
}

header input:focus {
  border-color: #ff6f61;
  box-shadow: 0 0 5px rgba(255, 111, 97, 0.5);
}

header button {
  border-radius: 14px;
  background: #ff6f61;
  color: white;
  transition: background-color 0.3s, opacity 0.3s;
  cursor: pointer;
  padding: 14px 18px;
}

header button:hover {
  background-color: #e95950;
  opacity: 0.9;
}

p {
  font-size: 0.9em;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.todoItem {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px;
  border-radius: 14px;
  background: linear-gradient(135deg, #a18cd1 0%, #fbc2eb 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.todoItem:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.todoItem p {
  flex: 1;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}

.actionsContainer button {
  transition: opacity 0.3s;
  border: none;
  background: transparent;
  cursor: pointer;
}

.actionsContainer button:hover {
  opacity: 0.7;
}

.actionsContainer button i {
  color: #ff6f61;
  transition: color 0.3s;
}

.actionsContainer button:hover i {
  color: #e95950;
}

@media (min-width: 640px) {
  header button,
  header input {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
}
